{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3">Tareas o Proyectos </h1>
            <p>hola que mas</p>

            <ul class="list-group">
                {% for tarea in tasks %}
    
                <a class="list-group-item" href="{% url 'task_detail' tarea.id %}">
                    <header class="d-flex justify-content-between">
                        {% if tarea.importante %}
                        <h2 class="fw-bold text-success">{{tarea.Titulo}}</h2>
                        {% else %}
                        <h3 class="fw-bold">{{tarea.Titulo}}</h3> 
                        {% endif %}
                        <p>{{tarea.usuario}}</p>
                    </header>
                    <p>{{tarea.descripcion}}</p>
                   
                    <p>{{tarea.completada|date:'M j Y:i'}}</p>
                    
                </a>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>



{% endblock %}